@import url('https://fonts.googleapis.com/css2?family=Jura:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jura:wght@300;400;500;600;700&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    text-decoration:none ;
    list-style-type: none;
    outline: none;
    font-family: 'Jura', sans-serif;
}

html{
    font-size: 62.5%;
}
.center{
    display: flex;
    justify-content: center;
    align-items: center;
}
/* End of commons styles */
.mouse-circle,
.mouse-dot{
    border-radius: 50%;
    position: fixed;
    z-index: 300;
    transform: translate(-50%,-50%);
    opacity: 0;
}
.mouse-dot{
    width: 0.4rem;
    height: 0.4rem;
    background-color: #d5896f;
    animation: mouseDotAnimation 8s infinite linear;
    pointer-events: none;
}

/* Mouse Circle */
.mouse-circle{
    width: 4rem;
    height: 4rem;
    border: 0.1rem solid #70A9A1;
    animation: mouseCircleAnimation 8s infinite linear;
    pointer-events: none;
    
} 
@keyframes mouseCircleAnimation {
    0%{
        height: 4rem;
        width: 4rem;
    }
    50%{
        height: 6rem;
        width: 6rem;
    }
    100%{
        height: 4rem;
        width: 4rem;
    }
    
}
@keyframes mouseDotAnimation{
    0%{
        height: 0.4rem;
        width: 0.4rem;
    }
    55%{
        height: 0.6rem;
        width: 0.6rem;
    }
    100%{
        height: 0.4rem;
        width: 0.4rem;
    }
}
/* End of Mouse Circle */

/* page Background */
.page-bg{
    position: fixed;
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(40, 88, 123, 0.8),rgba(63, 5, 5, 0.5)),url(images/bg.gif)center no-repeat;
    background-size: cover;
}
/* End of page Background */

/* Navigation */
/* NavBar */
.navbar{
    background-color: rgba(40, 88, 123, 1);
    position: absolute; 
    top: 0; 
    height: 4rem;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding-right: 3rem;

}

.navbar-link{
    font-size: 3rem;
    font-weight: 700;
    text-transform: uppercase;
    color: #a1a1a1;
    margin: 0 5rem;
    z-index: 100;
    opacity: 1;
}
/* NavBar End */
/* Navigation End*/

/* Section 1 */
.section-1 {
    width: 100%;
    height: 100vh;
}
.logo{
    position: absolute;
    top: 2rem;
    left: 20rem;
    font-size: 3rem;
    text-transform: uppercase;
    color: #a1a1a1 ;
}
.description{
    position: absolute;
    top: 5rem;
    left: 5rem;
    font-size: 1.8rem;
    text-transform: uppercase;
    color: #a1a1a1;
}
.universityLogo{
    background: url(images/landing/university.png) center no-repeat;
    background-size:contain;
    background-color: transparent;
    margin-top: 2%;
    margin-left: 20%;
    width: 22rem;
    height: 22rem;
    align-self: center;
    justify-self: center;
    opacity: 0.7;
}

.main-circle{
    width: 55rem;
    height: 55rem;
    position: absolute;
    overflow: hidden;
    border-radius: 50%;
    margin-left: 20%;
    border: 0.1rem solid #70A9A1;
    transition: width 0.2s, height 0.2s;
}
.main-circle:hover{
    width:60rem;
    height:60rem;
}
.main-circle img{
    mix-blend-mode:luminosity;
    position: relative;
    margin-top: 55%;
    left: 0;
    top: 0;
    transition: left 2s, top 2s;
}
.main-circle img:hover{
    margin-top: 0;
    margin-top: 40%;
}

/* End of Section 1 */

/* About me page */
.section-2{
    padding:10rem 10rem 15rem 10rem;
}
/* About me page end*/
/* About Me txt */
.about-me-text{
    width: 80%;
    margin: auto;
}
.about-me-text span{
    font-family: "Poppins",sans-serif;
    font-size: 2rem;
    font-weight:normal;
    color: rgba(252, 248, 248, 0.425);
    letter-spacing: 0.5rem;
    line-height: 1.2;
    text-shadow: 0 0 0.2rem #f1f7fc;
    position: relative;
    mix-blend-mode: color-dodge;
}
@keyframes aboutMeTextAnim {
    0%{
        color: #fff;
        top: 0;
    }
    10%,
    90%{
        color: #a1a1a1;
        top: 0.1rem;
    }
    100%{
        color: #fff;
        top: 0;
    }
}
/* About Me txt */
.circles{
    position: relative;
    top: -10rem;
    width: 100%;
    height: 100%;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2,1fr);
    color: #3F0505;
}
.circle{
    width: 35rem;
    height: 35rem;
    border-radius: 50%;
    background-color: red;
    align-self: center;
    justify-self: center;
    opacity: 0.5;
}
.circle-2{
    background: url(images/landing/AboutMe.jpg) center no-repeat;
    background-size: cover;
    border: 0.5rem solid #70A9A1;
    background-clip: content-box;
}
/* Projects */
.section-3{
    width: 100%;
    height: 100%;
    padding: 20rem, 0, 10rem, 0;
    position: relative;
}
.projectContainer{

    
}
.projectTitle{
    font-family: "Poppins",sans-serif;
    font-size: 10rem;
    font-weight:500;
    color: #a1a1a1;
    letter-spacing: 0.3rem;
    line-height: 1.2;
    position: relative;
    top: 30rem;
    padding-top: 2%;
    padding:3%;
}
/* resume */
.resume{
    align-self: center;
    justify-self: center;
    position: relative;
    top:5rem;
    padding: 30px;
}
/* Contact ME section */
.contactMeHeader{
    position:relative;
    height: 100vh;
    flex-direction: column;
}

.form-heading{
    font-family: "Poppins",sans-serif;
    font-size: 6rem;
    font-weight: 400;
    color: #3F0505;
    letter-spacing: 0.3rem;
    margin-bottom: 3rem;
    margin-top: 3rem;
    transition: opacity 0.3s;
}
.contact-form{
    flex-direction:column;
}
.contact-form-input{
    width:60rem;
    padding: 0.5rem;
    margin: 0.5rem;
    background-color: rgba(255, 255, 255, 0.1);
    border: 0.1rem solid #3F0505;
    font-size: 1.7rem;
    font-weight: bold;
    color: #a1a1a1;
    letter-spacing: 0.1rem;
    height: 5rem;
}
.contact-form-textarea{
    height: 20rem;
    resize: none;
}
.form-submit-btn{
    width: 20rem;
    height: 5rem;
    background-color: #3F0505;
    border: none;
    align-self: flex-start;
    font-size: 1.8;
    padding-left: 0.5rem;
}
.message{
    font-size: 1.2rem;
    font-weight: 700;
    color: #3F0505;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    margin: 0 auto 1rem 0;
    padding-left: 0.5rem;
    visibility: hidden;
    opacity:0;
}
.error.message{
    visibility: visible;
    opacity: 1;
    transition: opacity 0.3s;
}
/* Comments for social media icons */
.slideshow{
    display: flex;
    width: 50rem;
    margin-top: 3rem;
    padding: 2 2rem;
}
.slideshow-link{
    width: 20%;
    filter: brightness(0.5);
    transition: filter 1.5s;
}
.slideshow-link:nth-child(1),
.slideshow-link:nth-child(5){
    transition: width 0.5s , opacity 0.5s;
}
.slideshow-link:nth-child(3){
    transition: filter 0.5s;
}

.slideshow-link img{
    width: 100%;
    padding: 0 1rem;
}
.faded-out{
    opacity:0;
    width:0;
}
.light{
    filter:brightness(2);
}

/* Making page responsive */
@media(max-width: 1500px){
    .main-circle{
        width: 45rem;
        height: 45rem;
    }
    .main-circle:hover{
        width: 55rem;
        height: 55rem;
    }
    .main-circle img{
        width: 160%;
        height: 160%;
    }
    .about-me-text span{
        font-size: 1rem;
    }
    .universityLogo{
        width: 15rem;
        height: 15rem;
    }
    .navbar-link{
        font-size: 1.8rem;
    }
}